<ion-view view-title="Informacion" >
  <ion-content padding="true">
    <ion-slide-box show-pager="true">
        <ion-slide>
           	<div class="box yellow">
	            <h1 class="logoText">MiCasa</h1>	            
            </div>
            <div class="list card">  
			    <div class="item item-divider item-icon-left" >
			    	<i class="icon ion-home"></i>
          			Buscar MiCasa	            	<br>
			    </div>
			    <div class="item item-text-wrap">
			    	<p class="tagline">Busca y encuentra un imnmueble con en la ciudad y zona que desees.</p><br>
			    	<p class="tagline">Conoce detalles del inmueble como ser precio, superficie, fotografias de los ambientes y la ubicacion.</p><br>
			    	<p class="tagline">Una vez que encuentre el inmueble deseado ud. puede contactarse con el vendedor o propietario del inmueble.</p><br>
			    </div>
			</div>
        </ion-slide>
        <ion-slide>
            <div class="box yellow">
	            <h1 class="logoText">MiCasa</h1>	            
            </div>
            <div class="list card">      
			    <div class="item item-divider item-icon-left">
			    	<i class="icon ion-key"></i>
          			Registro de Usuario	            	
			    </div>
			    <div class="item item-text-wrap">
			    	<p class="tagline">Resgistrate como usuario y goza de las siguientes opciones.</p><br>
			    	<p class="tagline">- Publica tu inmueble</p>
			    	<p class="tagline">- Recibe notificaciones de publicaciones de inmuebles</p>
			    	<p class="tagline">- Establece inmuebles de tu preferencia como tus favoritos</p><br>
			    </div>
			</div>
        </ion-slide>
        <ion-slide>
            <div class="box yellow">
	            <h1 class="logoText">MiCasa</h1>	            
            </div>
            <div class="list card">      
			    <div class="item item-divider item-icon-left" >
			    	<i class="icon ion-android-globe"></i>
          			Publicar Inmueble
			    </div>
			    <div class="item item-text-wrap">
			    	<p class="tagline">Publica tu inmueble registrando los datos mas importantes.</p><br><br>		    	
			    </div>
			</div>
        </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
