<ion-view view-title="Ubicacion">  
  <ion-header-bar align-title="left" class="bar bar-subheader">  
    <div class="tabs-striped tabs-icon-left tabs-background-assertive tabs-color-light">
      <div class="tabs">
        <a class="tab-item" href="#/app/homeDetail/{{product.$id}}">
          <i class="icon ion-document-text" ></i>
          Descripcion
        </a>
        <a class="tab-item active" href="#">
          <i class="icon ion-ios-location"></i>
          Ubicacion
        </a>
        <a class="tab-item" href="#/app/homeDetailContact/{{product.$id}}">
          <i class="icon ion-person"></i>
          Contacto
        </a>
      </div>
    </div>
  </ion-header-bar>
  <ion-content class="has-header">
  	<div class="list card">
	    <div class="item item-divider">
        <h2>Ubicacion</h2>
        <p><b>Latitud: </b>{{product.location.latitude}}</p>
        <p><b>Longitud: </b>{{product.location.longitude}}</p>
      </div>      	    
    </div>
    <div id="map1" class="map" data-tap-disabled="true"></div>
    
  </ion-content>
</ion-view>
