<ion-view view-title="Detalle del Inmueble" ng-init="loadMap">  
  <ion-header-bar align-title="left" class="bar bar-subheader">    
    <!--<div class="item tabs tabs-striped tabs-icon-left tabs-color-assertive">-->
    <div class="tabs-striped tabs-icon-left tabs-background-assertive tabs-color-light">
    <div class="tabs">
      <a class="tab-item active" href="#">
        <i class="icon ion-document-text"></i>
        Descripcion
      </a>
      <a class="tab-item" href="#/app/homeDetailLocation/{{product.$id}}">
        <i class="icon ion-ios-location"></i>
        Ubicacion
      </a>
      <a class="tab-item" href="#/app/homeDetailContact/{{product.$id}}" >
        <i class="icon ion-person"></i>
        Contacto
      </a>
      </div>
    </div>
  </ion-header-bar>
  <ion-content class="has-header">
    <div class="list card">      
      <div class="item item-divider">
        <h2>{{product.houseType}} en {{product.leaseType}} </h2>
        <p><b>Fecha Publicacion: </b>{{product.registerDate}}</p>
        <p><b>Vistas: </b>120</p>
      </div>
      <div class="item item-text-wrap">
        <img class="full-image" src="{{product.image['img1080x1440'][0].url}}">
        <p><b>{{product.city}}: </b>{{product.zone}}</p>
        <p><b>Precio: </b>{{product.price}}</p>
        <p><b>Superficie: </b>{{product.surface}}</p>
        <p><b>Sup. Construida: </b>{{product.surfaceBuild}}</p>
        <p><b>Descripcion: </b>{{product.description}}</p>
        <p>
          <!--<a href="#" class="button icon-left ion-star button-clear button-dark">Agregar a favoritos</a> 
          <a href="#" class="button icon-left ion-android-share-alt button-clear button-dark">Compartir</a>-->
          <a class="button button-clear icon-left ion-share button-dark" href="#">Compartir</a>
          <a class="button button-clear icon-left ion-star button-assertive" href="#">Agregar a favoritos</a>
        </p>
      </div>             
    </div>    
  </ion-content>  
</ion-view>

