<ion-view view-title="Publicar Inmueble">
  <ion-content scroll="true">
    <div>
      <label class="item item-input item-select">
        <span class="input-label">Ciudad</span>
        <select ng-model="product.city" class="select select-assertive" ng-change="loadZones(product)">
          <option ng-repeat="i in cities" value="{{i.name}}" >
             {{i.name}}
          </option>
        </select>
      </label>

      <label class="item item-input item-select">
        <span class="input-label">Zona</span>
        <select ng-model="product.zone">
          <option ng-repeat="j in zones" value="{{j.name}}">
             {{j.name}}
          </option>
        </select>
      </label>

      <label class="item item-input item-select">
        <span class="input-label">Tipo Inmueble</span>
        <select ng-model="product.houseType">
          <option ng-selected="selected">Casa</option>
          <option>Terreno</option>
          <option>Edificio</option>
          <option>Oficina</option>
          <option>Departamento</option>
        </select>
      </label>

      <label class="item item-input item-select">
        <span class="input-label">Tipo de Arrendamiento</span>
        <select ng-model="product.leaseType">
          <option ng-selected="selected">Venta</option>
          <option>Alquiler</option>
          <option>Anticretico</option>
        </select>
      </label>

      <label class="item item-input">
        <span class="input-label" >Superficie</span>
        <input type="number" placeholder="Sup. en m2" ng-model="product.surface" value="300">
      </label>

      <label class="item item-input">
        <span class="input-label" >Sup. Construida</span>
        <input type="number" placeholder="Sup. en m2" ng-model="product.surfaceBuild" value="300">
      </label>

      <label class="item item-input">
        <span class="input-label" >Precio</span>
        <input type="number" ng-model="product.price">
      </label>
      <label class="item item-input">        
        <textarea rows="4" placeholder="Descripcion" ng-model="product.description"></textarea>
      </label>
      <li class="item item-toggle">
       Acepta Financiamiento Bancario?
       <label class="toggle toggle-assertive">
         <input type="checkbox" ng-model="product.isBanckCredit">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
      </li>
      <label class="item item-input">
          <button class="button button-icon icon ion-camera" ng-click="takePicture()"> Seleccionar foto de portada</button>
      </label>
      <label class="item item-input">
          <button class="button button-icon icon ion-camera" ng-click="takePicture()"> Seleccionar fotos del inmuebe</button>
      </label>

      <label class="item item-input">
          <button class="button button-icon icon ion-location" ng-click="goLocation()"> Fijar ubicacion</button>
      </label>
      
      <b>  Datos del Contacto </b>      
      <label class="item item-input">
        <span class="input-label">Nombre</span>                  
        <input type="text" ng-model="product.contact.name"></input>
      </label>
      <label class="item item-input">
        <span class="input-label">Correo</span>        
        <input type="email" ng-model="product.contact.email"></input>
      </label>
      <label class="item item-input">
        <span class="input-label">Telefono</span>        
        <input type="tel" ng-model="product.contact.phone"></input>
      </label>
      
      <button class="button button-block button-energized" ng-click="uploadProduct()">
        Guardar
      </button>
    </div>    
  </ion-content>
</ion-view>
