<ion-view view-title="Buscar MiCasa">
  <ion-content>
  <div>
  	<label class="item item-input item-select">
        <span class="input-label">Ciudad</span>
        <select ng-model="filter.cityId" class="select select-assertive" ng-change="loadZones(filter)">
          <!--<option ng-selected="selected" >Cochabamba</option>          
          <option>Cobija</option>
          <option>La Paz</option>                    
          <option>Oruro</option>
          <option>Potosi</option>
          <option>Santa Cruz</option>
          <option>Sucre</option>
          <option>Tarija</option>
          <option>Trinidad</option>-->
          <option ng-repeat="i in cities" value="{{i.id}}" >
             {{i.name}}
          </option>
        </select>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">Zona</div>
        <select ng-model="filter.zoneId">
          <!--<option ng-selected="selected">Todas</option>
          <option>Queru Queru</option>
          <option>Tiquipaya</option>
          <option>Chillimarca</option>
          <option>Quillacollo</option>
          <option>Colcapirhua</option>
          <option>Sumumpaya</option>
          <option>Villa Bush</option>
          <option>Chimba</option>
          <option>Pacata</option>
          <option>Quintanilla</option>
          <option>Sacaba</option>-->
          <option ng-repeat="j in zones" value="{{j.id}}">
             {{j.name}}
          </option>
        </select>
      </label>

      <label class="item item-input item-select">
        <span class="input-label">Tipo Inmueble</span>
        <select ng-model="filter.houseType">
          <option ng-selected="selected">Casa</option>
          <option>Terreno</option>
          <option>Edificio</option>
          <option>Oficina</option>
          <option>Departamento</option>
        </select>
        <!--<input type="text" ng-model="product.city">-->
      </label>
      
		  <li class="item item-checkbox">
		     <label class="checkbox checkbox-assertive">
		       <input type="checkbox" ng-model="filter.leaseSaleType" ng-selected="selected">
		     </label>
		     Venta
		  </li>
		  <li class="item item-checkbox">
		     <label class="checkbox checkbox-assertive">
		       <input type="checkbox" ng-model="filter.leaseAntiType">
		     </label>
		     Anticretico
		  </li>
		  <li class="item item-checkbox">
		     <label class="checkbox checkbox-assertive">
		       <input type="checkbox" ng-model="filter.leaseRentalType">
		     </label>
		     Alquiler
		  </li>
	  
  	  <label class="item item-input">
  		  <span class="input-label">Precio Min. ($us.)</span>
  		  <input type="number" ng-model="filter.minPrice" value="20000">
  	  </label>
  	  <label class="item item-input">
  		  <span class="input-label">Precio Max. ($us.)</span>
  		  <input type="number" ng-model="filter.maxPrice" value="150000">
  	  </label>
    <!--<div>      
      <div class="item range range-assertive">
        <i class="icon ion-social-usd-outline"></i>
        <p>0</p>
        <input type="range" name="volume" min="0" max="500000" value="{{slider.price}}" ng-model="slider.price">
        <i class="icon ion-social-usd"></i>
        <p>500.000</p>
      </div>
      Precio: {{slider.price}} $
    </div> -->
    
  	  <li class="item item-toggle">
  	     Mostrar en Mapa
  	     <label class="toggle toggle-assertive">
  	       <input type="checkbox" ng-model="filter.isShowMap">
  	       <div class="track">
  	         <div class="handle"></div>
  	       </div>
  	     </label>
  	  </li>
  	  
  	  <label class="item">
          <button class="button button-block button-energized" type="submit" ng-click="search(filter)">Buscar</button>
      </label>
  </div>
    <!--<ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>-->
  </ion-content>
</ion-view>
